
@{
    ViewBag.Title = "ListaContatoObjeto";
}

<h2>ListaContatoObjeto</h2>

<div>
    <b>Pessoa Id</b>
</div>
<div>
    @ViewData["PessoaId"]
</div>
<div>
    @ViewData["Nome"]
</div>
<div>
    @ViewData["Tipo"]
</div>

<a href="~/">Voltar</a>